<footer id="footer-contacts" class="page-footer">
    <!-- White container in footer -->
    <div class="container footer-container">
        <!-- Left container with form email -->
        <div class="left-container">
            <!-- Logo -->
            <a href="/index.html">
                <img class="footer-logo" src="/img/logo.svg" alt="Website logo" width="84" height="36">
            </a>

            <!-- Text subscribe -->
            <h3 class="subscribe">Subscribe to our newsletter for the latest updates on our yoga clases and events.</h3>

            <!-- Email form -->
            <div class="elements-of-form">
                <input class="footer-input" type="text" id="email" name="user-email" aria-label="email"
                    placeholder="Your email here" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
                <button class="footer-btn" type="submit">Join</button>
            </div>

            <!-- Copyright -->
            <p>By subscribing, you consent to our Privacy Policy and agree to receive updates.</p>
            <p class="pc-copyright">&#169; 2025 Yoga Studio. All rights reserved.</p>
        </div>

        <!-- Right container with links -->
        <div class="right-container">
            <!-- Quick links -->
            <div class="footer-nav">
                <h3 class="footer-nav-links">Quick Links</h3>
                <ul class="footer-links">
                    <li class="links-text links-text-left">
                        <a class="footer-nav" href="#classes">Yoga Classes</a>
                    </li>
                    <li class="links-text links-text-left">
                        <a class="footer-nav" href="#team">Team</a>
                    </li>
                    <li class="links-text links-text-left">
                        <a class="footer-nav" href="#pricing">Pricing</a>
                    </li>
                    <li class="links-text links-text-left">
                        <a class="footer-nav" href="#footer">Contacts</a>
                    </li>
                </ul>
            </div>

            <!-- Connect with us -->
            <div class="footer-nav">
                <h3 class="footer-nav-links">Connect With Us</h3>
                <ul class="footer-links">
                    <li class="links-text">
                        <a href="https://www.facebook.com/goITclub/" class="social-link" target="_blank"
                            rel="noopener noreferrer" aria-label="Facebook">
                            <svg class="social-icon" width="21" height="21">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                            <span class="social-text">Facebook</span>
                        </a>
                    </li>
                    <li class="links-text">
                        <a href="https://www.instagram.com/goit.ua/" class="social-link" target="_blank"
                            rel="noopener noreferrer" aria-label="Instagram">
                            <svg class="social-icon" width="21" height="21">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                            <span class="social-text">Instagram</span>
                        </a>
                    </li>
                    <li class="links-text">
                        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it/" class="social-link"
                            target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                            <svg class="social-icon" width="21" height="21">
                                <use href="/img/icons.svg#icon-linkedin"></use>
                            </svg>
                            <span class="social-text">LinkedIn</span>
                        </a>
                    </li>
                    <li class="links-text">
                        <a href="https://www.youtube.com/@GoIT" class="social-link" target="_blank"
                            rel="noopener noreferrer" aria-label="YouTube">
                            <svg class="social-icon" width="21" height="21">
                                <use href="/img/icons.svg#icon-youtube"></use>
                            </svg>
                            <span class="social-text">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile Copyright -->
        <div class="copyright mobile-copyright">
            © 2025 Yoga Studio. All rights reserved.
        </div>
    </div>
</footer>