<footer class="page-footer">
    <div class="container">
        <div class="mini-container">
            <a href="/index.html">
                <img src="../img/" alt="Логотип компанії" width="120" height="40"></a>
            <p>Subscribe to our newsletter for the latest updates on our yoga clases and events.</p>
            <div class="form-group">
                <input type="text" 
                       id="email" 
                       name="user-email" 
                       required 
                       placeholder="Your email here"
                       pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
        </div>
        <div>

        </div>
    </div>
</footer>