<section class="gallery">
  <div class="container gallery-container">
    <div class="gallery-text-container">
      <h2 class="gallery-title">Breathe in the Space</h2>
      <p class="gallery-txt">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery/yoga-img1-d@2x.jpg 2x,
              /img/gallery/yoga-img1-d.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/yoga-img1-t.jpg    1x,
              /img/gallery/yoga-img1-t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/yoga-img1-m.jpg    1x,
              /img/gallery/yoga-img1-m@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/yoga-img1-m.jpg"
            alt="yoga class"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery/yoga-img2-d@2x.jpg 2x,
              /img/gallery/yoga-img2-d.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/yoga-img2-t.jpg    1x,
              /img/gallery/yoga-img2-t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/yoga-img2-m.jpg    1x,
              /img/gallery/yoga-img2-m@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/yoga-img2-m.jpg"
            alt="yoga coach"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery/yoga-img3-d@2x.jpg 2x,
              /img/gallery/yoga-img3-d.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/yoga-img3-t@2x.jpg 2x,
              /img/gallery/yoga-img3-t.jpg    1x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/yoga-img3-m.jpg    1x,
              /img/gallery/yoga-img3-m@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/yoga-img3-m.jpg"
            alt="yoga room"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery/yoga-img4-d@2x.jpg 2x,
              /img/gallery/yoga-img4-d.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/yoga-img4-t.jpg    1x,
              /img/gallery/yoga-img4-t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/yoga-img4-m.jpg    1x,
              /img/gallery/yoga-img4-m@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/yoga-img4-m.jpg"
            alt="plant in class"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery/yoga-img5-d@2x.jpg 2x,
              /img/gallery/yoga-img5-d.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/yoga-img5-t.jpg    1x,
              /img/gallery/yoga-img5-t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/yoga-img5-m.jpg    1x,
              /img/gallery/yoga-img5-m@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/yoga-img5-m.jpg "
            alt="lotospose"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery/yoga-img6-d@2x.jpg 2x,
              /img/gallery/yoga-img6-d.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/yoga-img6-t.jpg    1x,
              /img/gallery/yoga-img6-t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/yoga-img6-m.jpg    1x,
              /img/gallery/yoga-img6-m@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/yoga-img6-m.jpg"
            alt="yoga relax"
            class="gallery-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
