<div class="hero-section section">
  <div class="hero-image">
    <picture>
      <source
        srcset="
          ../img/hero/Placeholder-1x-desk.png 1x,
          ../img/hero/Placeholder-2x-desk.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/hero/Placeholder-1x-tabl.png 1x,
          ../img/hero/Placeholder-2x-tabl.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/hero/Placeholder-1x-mob.png 1x,
          ../img/hero/Placeholder-2x-mob.png 2x
        "
        media="(max-width: 375px)"
      />
      <img src="img/hero/Placeholder-1x-desk.png" alt="Yoga Pose" />
    </picture>
  </div>

  <div class="hero-content container">
    <div class="text-content">
      <div class="hero-title">
        <h1 class="hero-title-main">
          Transform Your Life with Our Yoga Clases
        </h1>
      </div>
      <div>
        <p class="hero-title-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <div class="buttons">
          <a href="#Pricing" class="btn btn-primary">Join Now</a>
          <a href="#Gallery" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
