<section class="hero-section section">
  <div class="hero-image">
    <picture>
      <source
        srcset="
          img/hero/Placeholder-1x-desk.png 1x,
          img/hero/Placeholder-2x-desk.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          img/hero/Placeholder-1x-tabl.png 1x,
          img/hero/Placeholder-2x-tabl.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          img/hero/Placeholder-1x-mob.png 1x,
          img/hero/Placeholder-2x-mob.png 2x
        "
        media="(max-width: 375px)"
      />
      <img src="img/hero/Placeholder-1x-desk.png" alt="Yoga Pose" />
    </picture>
  </div>

  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        <span class="break-desk"> Transform Your Life</span>
        <span class="break-tabl"> with Our Yoga </span>
        <span class="break-mobile">Courses </span>
        <span class="word">Clases </span>
      </h1>
      <div class="hero-text-buttons">
        <p class="text-content">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <div class="hero-buttons">
          <a href="#pricing" class="button join-btn">
            <span class="mobile-btn">Join</span>
            <span class="desk-btn">Join Now</span>
          </a>
          <a href="#gallery" class="button learn-more-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
