
    <!-- modal 10  is-open-->
    <div class="backdrop is-open">
        <div class="modal">
            <button class="close-btn" type="button" data-modal-close>
                <svg class="icons-close" width="32" height="32">
                    <use href="./images/icons.svg#icon-Vector"></use>
                </svg>
            </button>

            <p class="modal-title"> Join Now! </p>

            <div class="modal-proposition">

                <p class="modal-session"> One Session </p>
                <p class="modal-price"> &#36;10 </p>
            </div>
            <form class="modal-form">
                <div class="form-field">
                    <label class="form-label">
                        <span class="label-text">Your Name</span>
                        <input class="form-input" type="text" name="yourName" placeholder="Liam" />
                    </label>
                </div>
                <div class="form-field">
                    <label class="form-label">
                        <span class="label-text">Email</span>
                        <input class="form-input" type="email" name="email" placeholder="hello@yogabloom.com" />
                    </label>
                </div>
                <div class="form-field">
                    <label class="form-label">
                        <span class="label-text">Phone number</span>
                        <input class="form-input" type="tel" name="phone" placeholder="+380 (95) 123 12 12" />
                    </label>
                </div>

                <button class="send-btn" type="submit">Go to checkout</button>
            </form>
        </div>
    </div>







</body>

</html>