<!-- modal 10  is-open-->
<div class="backdrop" data-modal1 id="modal1">
    <div class="modal">
        <button class="close-btn" type="button" data-modal1-close> 
            <svg class="icons-close" width="32" height="32">
                <use href="/img/icons.svg#icon-crossbar"></use>
            </svg>
        </button>

        <p class="modal-title"> Join Now! </p>

        <div class="modal-proposition">

            <p class="modal-session"> One Session </p>
            <p class="modal-price"> &#36;10 </p>
        </div>
        <form class="modal-form">
            <div class="form-field-name">
                <label class="form-label-name">
                    <span class="label-text">Your Name</span>
                    <input class="form-input-name" type="text" name="yourName" placeholder="Liam" />
                </label>
            </div>
            <div class="form-field-contacts">
                <label class="form-label-contacts form-label-em">
                    <span class="label-text">Email</span>
                    <input class="form-input-contacts " type="email" name="email" placeholder="hello@yogabloom.com" />
                </label>
                <label class="form-label-contacts">
                    <span class="label-text">Phone number</span>
                    <input class="form-input-contacts" type="tel" name="phone" placeholder="+380 (95) 123 12 12" />
                </label>
            </div>

            <button class="send-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>

<!-- modal 65  is-open-->
<div class="backdrop" data-modal2 id="modal2">
    <div class="modal">
        <button class="close-btn" type="button" data-modal2-close>
            <svg class="icons-close" width="32" height="32">
                <use href="/img/icons.svg#icon-crossbar"></use>
            </svg>
        </button>

        <p class="modal-title"> Join Now! </p>

        <div class="modal-proposition">

            <p class="modal-session"> 8 Sessions Package </p>
            <p class="modal-price"> &#36;65 </p>
        </div>
        <form class="modal-form">
            <div class="form-field-name">
                <label class="form-label-name">
                    <span class="label-text">Your Name</span>
                    <input class="form-input-name" type="text" name="yourName" placeholder="Liam" />
                </label>
            </div>
            <div class="form-field-contacts">
                <label class="form-label-contacts form-label-em">
                    <span class="label-text">Email</span>
                    <input class="form-input-contacts " type="email" name="email" placeholder="hello@yogabloom.com" />
                </label>
                <label class="form-label-contacts">
                    <span class="label-text">Phone number</span>
                    <input class="form-input-contacts" type="tel" name="phone" placeholder="+380 (95) 123 12 12" />
                </label>
            </div>

            <button class="send-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>

<!-- modal 80  is-open-->
<div class="backdrop" data-modal3 data-modal4 id="modal3">
    <div class="modal">
        <button class="close-btn" type="button" data-modal3-close data-modal4-close>
            <svg class="icons-close" width="32" height="32">
                <use href="/img/icons.svg#icon-crossbar"></use>
            </svg>
        </button>

        <p class="modal-title"> Join Now! </p>

        <div class="modal-proposition">

            <p class="modal-session"> 12 Sessions Package </p>
            <p class="modal-price"> &#36;80 </p>
        </div>
        <form class="modal-form">
            <div class="form-field-name">
                <label class="form-label-name">
                    <span class="label-text">Your Name</span>
                    <input class="form-input-name" type="text" name="yourName" placeholder="Liam" />
                </label>
            </div>
            <div class="form-field-contacts">
                <label class="form-label-contacts form-label-em">
                    <span class="label-text">Email</span>
                    <input class="form-input-contacts " type="email" name="email" placeholder="hello@yogabloom.com" />
                </label>
                <label class="form-label-contacts">
                    <span class="label-text">Phone number</span>
                    <input class="form-input-contacts" type="tel" name="phone" placeholder="+380 (95) 123 12 12" />
                </label>
            </div>

            <button class="send-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>