<section class="team-section" id="team">
  <div class="container team-container">
    <h4 class="subheading">Meet</h4>
    <h2 class="heading">Our Team</h2>
    <p class="description">
      Dedicated professionals passionate about yoga and wellness.
    </p>

    <!-- Team Member -->
    <ul class="team-grid">
      <li class="team-card">
        <picture>
          <source
            srcset="/img/team/Liam-1x.jpg 1x, ./img/team/Liam-2x.jpg 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/Liam-1x-tab.jpg 1x,
              /img/team/Liam-2x-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/team/Liam-1x-mob.jpg 1x,
              /img/team/Liam-2x-mob.jpg 2x
            "
          />

          <img src="/img/team/liam.jpg" alt="Liam Johnson" />
        </picture>
        <div class="team-info">
          <div class="team-trener">
            <h3>Liam Johnson</h3>
            <p class="role">Yoga Instructor</p>
          </div>
          <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
        </div>
        <div class="social-icons">
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-linkedin"></use>
          </svg>
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </div>
      </li>

      <li class="team-card">
        <picture>
          <source
            srcset="/img/team/Emma-1x.jpg 1x, ./img/team/Emma-2x.jpg 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/Emma-1x-tab.jpg 1x,
              /img/team/Emma-2x-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/team/Emma-1x-mob.jpg 1x,
              /img/team/Emma-2x-mob.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img src="/img/team/emma-1x.jpg" alt="Emma Stone" />
        </picture>
        <div class="team-info">
          <div class="team-trener">
            <h3>Emma Stone</h3>
            <p class="role">Meditation Coach</p>
          </div>
          <p>
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <div class="social-icons">
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-linkedin"></use>
          </svg>
        </div>
      </li>

      <li class="team-card">
        <picture>
          <source
            srcset="/img/team/Sophia-1x.jpg 1x, ./img/team/Sophia-2x.jpg 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/Sophia-1x-tab.jpg 1x,
              /img/team/Sophia-2x-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/team/Sophia-1x-mob.jpg 1x,
              /img/team/Sophia-2x-mob.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="/img/team/sophia-1x.jpg" alt="Sophia Lee" />
        </picture>

        <div class="team-info">
          <div class="team-trener">
            <h3>Sophia Lee</h3>
            <p class="role">Pilates Trainer</p>
          </div>
          <p class="descr">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
        </div>
        <div class="social-icons">
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </div>
      </li>

      <li class="team-card">
        <picture>
          <source
            srcset="/img/team/Noah-1x.jpg 1x, ./img/team/Noah-2x.jpg 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/Noah-1x-tab.jpg 1x,
              /img/team/Noah-2x-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/team/Noah-1x-mob.jpg 1x,
              /img/team/Noah-2x-mob.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="/img/team/noah-1x.jpg" alt="Noah Brown" />
        </picture>
        <div class="team-info">
          <div class="team-trener">
            <h3>Noah Brown</h3>
            <p class="role">Yoga Therapist</p>
          </div>
          <p>
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
        </div>
        <div class="social-icons">
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-linkedin"></use>
          </svg>
        </div>
      </li>

      <li class="team-card">
        <picture>
          <source
            srcset="/img/team/Ava-1x.jpg 1x, ./img/team/Ava-2x.jpg 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/team/Ava-1x-tab.jpg 1x, ./img/team/Ava-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/team/Ava-1x-mob.jpg 1x, ./img/team/Ava-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="/img/team/ava-1x.jpg" alt="Ava Green" />
        </picture>

        <div class="team-info">
          <div class="team-trener">
            <h3>Ava Green</h3>
            <p class="role">Fitness Trainer</p>
          </div>
          <p>
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
        </div>
        <div class="social-icons">
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-linkedin"></use>
          </svg>
        </div>
      </li>

      <li class="team-card">
        <picture>
          <source
            srcset="/img/team/clarck-1x.jpg 1x, ./img/team/clarck-2x.jpg 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/clarck-1x-tab.jpg 1x,
              /img/team/clarck-2x-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/team/clarck-1x-mob.jpg 1x,
              /img/team/clarck-2x-mob.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img src="/img/team/clarck-1x.jpg" alt="Clark Thomas" />
        </picture>

        <div class="team-info">
          <div class="team-trener">
            <h3>Clark Thomas</h3>
            <p class="role">Fitness Trainer</p>
          </div>
          <p>
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>

        <div class="team-hiring">
          <div class="team-trener">
            <h3>We're hiring!</h3>
            <p class="role">Join Us</p>
          </div>
          <p>
            If you're passionate about yoga, check our open positions and apply!
          </p>
        </div>
        <div class="social-icons">
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
          <svg class="social-icons-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
