<section id="classes" class="yogaclass">
  <div class="conteiner yogaclass-header">
    <div class="yogaclass-header-title">
      <p class="yoga-subtitle">Explore</p>
      <h2 class="yoga-title">Discover Our Most Popular Yoga Programs</h2>
      <p class="yoga-description">
        Join our community and elevate your practice with our expertly designed
        yoga programs. Each course is tailored to meet various skill levels and
        personal goals.
      </p>
    </div>

    <ul class="yoga-list">
      <li class="yoga-card-image">
        <div class="yoga-card-first yoga-cards">
          <picture>
            <source
              srcset="
                ../img/yoga_classes/Placeholder-1x.jpg 1x,
                ../img/yoga_classes/Placeholder-2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ../img/yoga_classes/Placeholder-1x-tab.jpg 1x,
                ../img/yoga_classes/Placeholder-2x-tab.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/yoga_classes/Placeholder-1x-mob.jpg 1x,
                ../img/yoga_classes/Placeholder-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="../img/yoga_classes/Placeholder-1x.jpg"
              alt="Beginner Yoga"
              class="yoga-card-picture"
            />
          </picture>
          <h3 class="yoga-card-title">
            <span class="yoga-beginner">Beginner Yoga: Foundations</span>
            <span class="yoga-new"
              >Beginner Yoga: Foundations for New Practitioners</span
            >
          </h3>
          <p class="yoga-card-description">
            Learn the basics of yoga in a supportive environment.
          </p>
        </div>
      </li>

      <li class="yoga-card-image">
        <div class="yoga-card-first yoga-cards">
          <picture>
            <source
              srcset="
                ../img/yoga_classes/girls-1x.jpg 1x,
                ../img/yoga_classes/girls-2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ../img/yoga_classes/girls-1x-tab.jpg 1x,
                ../img/yoga_classes/girls-2x-tab.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/yoga_classes/girls-1x-mob.jpg 1x,
                ../img/yoga_classes/girls-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="../img/yoga_classes/girls-1x.jpg"
              alt="Vinyasa Flow"
              class="yoga-card-picture"
            />
          </picture>
          <h3 class="yoga-card-title">
            Vinyasa Flow: Energize Your Body and Mind
          </h3>
          <p class="yoga-card-description">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </div>
      </li>

      <li class="yoga-card-image">
        <div class="yoga-card-first yoga-cards-last">
          <picture>
            <source
              srcset="
                ../img/yoga_classes/hand-1x.jpg 1x,
                ../img/yoga_classes/hand-2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ../img/yoga_classes/hand-1x-tab.jpg 1x,
                ../img/yoga_classes/hand-2x-tab.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/yoga_classes/hand-1x-mob.jpg 1x,
                ../img/yoga_classes/hand-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="../img/yoga_classes/hand-1x.jpg"
              alt="Restorative Yoga"
              class="yoga-card-picture"
            />
          </picture>

          <h3 class="yoga-card-title">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="yoga-card-description">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </div>
      </li>
    </ul>

    <div class="yoga-join-href">
      <a class="yoga-join" href="#pricing">
        <span class="join-mobile">Join</span>
        <span class="join-desktop">Join now</span>
      </a>
    </div>
  </div>
</section>
