/* font-family: "Cabin", sans-serif;
font-family: "Sarabun", sans-serif;
font-family: "Roboto", sans-serif;*/
/* font-family: "Cabin", sans-serif;
font-family: "Sarabun", sans-serif;
font-family: "Roboto", sans-serif;*/
body {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #f2fafa;
  color: #0d0b0a;
}