/* === Секція Pricing Plans === */
.pricing-plans {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 48px;
padding: 64px 16px;
background-color: #f8fbfe;
}

.pricing-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  max-width: 375px;
  
  
}

.pricing-label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0D0B0A;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.pricing-name {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0D0B0A;
  margin-bottom: 20px;
  text-align: center;
}

.pricing-subtitle {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0D0B0A;
  margin-bottom: 48px;
}

/* Контейнер карток */
.pricing-plans-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  max-width: 375px;
  margin: 0 auto;
  width: 100%;
}

/* Картка тарифу */
.pricing-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  border: 0px solid rgba(13, 11, 10, 0.15);
  border-radius: 16px;
  padding: 32px 24px;
  background-color: #dfebeb;
   max-width: 375px;
   width: 100%;
}

.pricing-card-info{
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
}

.pricing-card-header{
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
}

/* Заголовки і ціна */
.pricing-card-title {
font-family: "Cabin", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.4;
letter-spacing: 0.01em;
text-align: center;
color: #0d0b0a;
}

.pricing-card-price {
 font-family: "Cabin", sans-serif;
font-weight: 400;
font-size: 44px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #0d0b0a;
}

/* Список переваг */
.pricing-packages {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
padding: 8px 0px;
}

.package {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 16px;
}

.icon-pricing-check {
  flex-shrink: 0;
  fill: #0D0B0A;
  width: 24px;
  height: 24px;
}

/* Кнопка Join */
.pricing-btn-primary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
cursor: pointer;
border: 1px solid #c2d9fc;
border-radius: 100px;
padding: 10px 24px;
width: 295px;
height: 46px;
background-color: #c2d9fc;
}

.pricing-btn-primary:hover {
  background-color: #B0C7ED;
}


/* Планшетна версія (від 768px) */
@media screen and (min-width: 768px) {
  .pricing-plans {
    padding: 80px 32px;
  }

  .pricing-plans-content {
    max-width: 704px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .pricing-card {
    max-width: 336px;
    width: 100%;
  }

  .pricing-plans-content .pricing-card:nth-child(3) {
    flex-basis: 100%;
    max-width: 100%;
  }

 
  /* Третя карточка – окрема стилізація */
  
.pricing-card:nth-child(3) {
    flex: 1;
    display: flex;
    flex-direction: column;
}
}

/* Десктопна версія (від 1280px) */
@media screen and (min-width: 1280px) {
  .pricing-plans {
    padding: 100px 64px;
  }

  .pricing-plans-content {
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
  }

  .pricing-card {
    max-width: 384px;
  }

  .pricing-plans-content .pricing-card:nth-child(3) {
    max-width: 384px;
  }
}